.bg-gray { background-color: #d7e1e6; }
.bg-dark-gray { background-color: #96cee9; }
.bg-green { background-color: #29c753; }
.bg-red { background-color: #ea4335; }
.bg-blue { background-color: #00a1f1; }

.hover-bg-color-filter:hover { filter: brightness(115%); }
.active-bg-color-filter:active { filter: brightness(85%); }

.transition { transition: 0.2s; }
